@model PizzeriaWebAppASPNET_MVC_CORE.Models.ViewModels.CheckOutViewModel

@using System.Globalization

@{
    CultureInfo swe = new CultureInfo("sv-SE");


    var discount = Model.Matratter.Sum(x => x.Pris) - Model.TotalKostnad;
}





<div class="container">
    
            
            <div class="well text-center col-md-4 col-md-offset-4">
                
                <div><h4>Thanks for your order</h4><span></span> <h2>@Model.Kund.Namn</h2></div>
               
               
                <div><h5>Total cost: @Model.TotalKostnad.ToString("C", swe)</h5></div>
                <div><h5>Total discount: @discount.ToString("C", swe)</h5></div>

                @{
                    foreach (var matratt in Model.Matratter.GroupBy(x=> x.MatrattNamn))
                    {
                        <div><span style="font-size: 20px;">@matratt.Key</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Antal :  @matratt.Count()</span></div>
                    }
                }

            </div>

           

    </div>