@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@model PizzeriaWebAppASPNET_MVC_CORE.Models.ViewModels.AdminViewModel

<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <div class="bg-primary panel-body">
                <h4>Roles</h4>
            </div>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <table style="background-color: white" class="table table-condensed table-bordered table-bordered">
                <tr><th>Identity ID</th><th>Name</th><th>Users</th><th></th></tr>
                @if (Model.Roles.Count() == 0)
            {
                    <tr><td colspan="4" class="text-center">No Roles</td></tr>
                }
                else
                {
                    foreach (var role in Model.Roles)
                    {
                        <tr>
                            <td>@role.Id</td>
                            <td>@role.Name</td>

                            <td identity-role="@role.Id"></td>
                            <td>
                                <form asp-controller="Admin" asp-action="Delete" asp-route-id="@role.Id" method="post">
                                    <a style="width: 100%;" class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="Edit"
                                       asp-route-id="@role.Id">Edit</a>
                                    <button style="width: 100%;" type="submit"
                                            class="btn btn-sm btn-danger">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="col-xs-3">
            <div class="bg-primary panel-body"><h4>Create Role</h4></div>
              <form class="well" asp-controller="Admin" asp-action="Create" method="post">
                <div class="form-group">
                    <input placeholder="Role name.." name="name" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>

        </div>

    </div>
</div>